.carousel {
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    .carousel-inner {
        border-radius: 10px;
        overflow: hidden;
    }

    .carousel-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: transparent !important;
        filter: invert(100%);
        border-radius: 50%;
    }
}
