.carousel {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #DCEEFB;

    .carousel-inner {
        border-radius: $border-radius;
        overflow: hidden;
    }

    .carousel-item img {

        height: 250px;
        object-fit: cover;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
            top: 50%;
            width: auto;
            border-radius: 50%;
    }
}
