.center-card, .comment-card {
    background-color: $default-background-color;
    border-radius: $border-radius;
    overflow: hidden;
    margin-bottom: 1rem;



    h1, h2 { font-weight: bold; margin-bottom: 0.5rem; }

    p { margin-bottom: 0.5rem; }

    a {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: $primary-color;
        color: $default-color;
        border-radius: $border-radius;
        margin-top: 0.5rem;
        text-align: center;
        text-decoration: none;
        &:hover { background-color: darken($primary-color, 10%); }
    }
}

.favorite-button {
    border: none;
    background: none;
    color: $danger-color;
    font-size: 1.5rem;
    padding: 0;
}
.center-card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: $border-radius;
}
.center-details {
    margin: 2em auto;
    padding: 0 1rem;
    max-width: 1200px;
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif; }
