.navbar {
    background-color: $secondary-color;
    color: $default-color;

 }

.web-site-title {
    font-weight: bold;
    color:$primary-color;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.header-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


@media (max-width: 992px) {
     .header-button {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: auto;
    }
}


