.custom-navbar {
    background-color: $secondary-color;
    color: $default-color;

    .navbar-brand { display: flex; align-items: center; gap: 0.5rem; }
}

.web-site-title {
    font-weight: bold;
    color:$primary-color;
}
