
$primary-color: #0A66C2;
$secondary-color: #003366;
$danger-color: #dc3545;
$default-color: #fff;
$default-background-color: rgba(255, 255, 255, 0.46);
$border-radius: 0.5rem;
$text-muted-color: #6c757d;
$font-family: 'Roboto', Arial, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

