
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Centre de loisirs{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
        </nav>

        <div  class="container py-4">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
